{{if gt .SectionNum 0}}% {{ .Name }} {{ .SectionNum }}

{{end}}# NAME

{{ .Name }}{{ if .Usage }} - {{ .Usage }}{{ end }}

# SYNOPSIS

{{ .Name }}
{{ if .SynopsisArgs }}
```
{{ range $v := .SynopsisArgs }}{{ $v }}{{ end }}
```
{{ end }}{{ if .Description }}
# DESCRIPTION

{{ .Description }}
{{ end }}
**Usage**:

```
{{ if .UsageText -}}
{{ .UsageText }}
{{ else }}
{{ .Name }} [GLOBAL OPTIONS] command [COMMAND OPTIONS] [ARGUMENTS...]
{{- end }}
```
{{ if .GlobalArgs }}
# GLOBAL OPTIONS
{{ range $v := .GlobalArgs }}
{{ $v }}{{ end }}
{{ end }}{{ if .Commands }}
# COMMANDS
{{ range $v := .Commands }}
{{ $v }}{{ end }}{{ end }}`

var FishCompletionTemplate = `# {{ .Name }} fish shell completion

function __fish_{{ .Name }}_no_subcommand --description 'Test if there has been any subcommand yet'
    for i in (commandline -opc)
        if contains -- $i{{ range $v := .AllCommands }} {{ $v }}{{ end }}
            return 1
        end
    end
    return 0
end

{{ range $v := .Completions }}{{ $v }}
{{ end }}
