{{if gt .SectionNum 0}}% {{ .Name }} {{ .SectionNum }}

{{end}}## NAME

{{ .Name }}{{ if .Usage }} - {{ .Usage }}{{ end }}

## SYNOPSIS

{{ .Name }}
{{ if .SynopsisArgs }}
```Plain
{{ range $v := .SynopsisArgs }}{{ $v }}{{ end }}
```
{{ end }}{{ if .Description }}
## DESCRIPTION

{{ .Description }}
{{ end }}
**Usage**:

```Plain
{{ if .UsageText -}}
{{ .UsageText }}

{{- else }}
{{ .Name }} [GLOBAL OPTIONS] command [COMMAND OPTIONS] [ARGUMENTS...]
{{- end }}
```
{{ if .GlobalArgs }}
## GLOBAL OPTIONS
{{ range $v := .GlobalArgs }}
{{ $v }}{{ end }}
{{ end }}{{ if .Commands }}
## COMMANDS
{{ range $v := .Commands }}
{{ $v }}{{ end }}{{ end }}
