{{ with .Name }}# {{ . }}{{ end }}
{{- with .Description }}

{{ . | ToSentence }}
{{- end }}
{{- if .GlobalArgs }}

## Parameters
{{ range $v := .GlobalArgs }}
**_{{ $v.Name }}_**{{ if $v.Required }} _required_{{ end }}{{ with $v.Default }} (default: {{ . }}){{ end }}{{ if $v.Description }}{{ "\\" }}{{ end }}
{{- with $v.Description }}
&emsp;{{ . | ToSentence }}
{{- end }}
{{ end -}}
{{ end -}}
